.flashy {
    color: red;
    font-style: italic;
}

#best {
    color: hotpink;
    font-style: bold;
    float: right;
    font-size: 200%;
    font-family: algerian, courier;
    line-height: 50%;
}

img.intro {
    
    font-style: italic;
    width: 30%;
    float: initial;
    background-color: yellow;
  }

  p.author {
    width: 75%;
    font-style: italic;
    font-weight: bold;
  }

  h2.intro{
    font-style: bold;
    font-size: 24px;
    color: orange;
  }

  p.intro{
    font-style:italic;
    color: purple;

  }

  .intro{

    font-style: bold;
    font-size: 36px;
    color: green;

  }

  .column {
    width:300px;
    float:center;
  }


.sidebar { 
    width: 500px;
    float: right;
    background-color yellow;
}